<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>

<table class="table table-striped" th:object="${student}">
    <tr>
        <th>Name</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
    </tr>
    <tr>
        <th>Class</th>
        <td th><a th:href="@{/schoolClass/{id}(id=*{schoolClass.id})}" th:text="*{schoolClass}"/></td>
    </tr>
    <tr>
        <th>Grades</th>
        <td><span th:each="curGrade : *{grades}">
            <a th:href="@{/grade/__${curGrade.id}__}" th:text="${curGrade.grade}"/>
        </span> </td>
    </tr>
</table>
</body>
</html>